/* 基础样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 14px Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

a {
    color: #FFFFFF;
    /* text-decoration: none; */
}

/* 版心 */

.com {
    width: 960px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
}

/* header */

header {
    background-color: #333333;
    height: 70px;
}

#header {
    position: relative;
}

.logo {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 70px;
    display: inline-block;
}

.tr li {
    display: inline-block;
    margin-right: 10px;
}

.tr {
    position: absolute;
    top: 10px;
    right: 0;
}

/* banner */

.dynamic-img {
    background-color: #7bb84a;
    height: 300px;
}

.num_tab {
    margin-top: 270px;
}

.num_tab li {
    display: inline;
    margin-right: 5px;
}

.num_tab li a {
    color: #333333;
    border: 1px solid #333333;
    padding: 5px 8px;
    text-decoration: none;
}

.num_tab li .current {
    padding-top: 15px;
    background-color: #FFFFFF;
}

/* main */

.nav {
    border-bottom: 1px solid #333333;
    margin-top: 15px;
}

.nav li a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
}

.nav li {
    border: 1px solid #333333;
    padding: 20px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: -1px;
    /* margin-bottom: -1px; */
    border-bottom: transparent;
    background-color: #ececec;
}

/* content */

.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.box {
    padding: 80px;
    border: 1px solid #333333;
    margin-top: 8px;
    margin-left: 10px;
}

/* .box1, .box2, .box3{
    flex: 1 1 280px;
} */

.box1{
    flex: 2 1 240px;
}

.box2{
    flex: 2 1 240px;
}

.box3{
    flex: 1 1 240px;
}

.box4, .box5, .bo6, .box7 {
    flex: 1 1 180px;
}

.box8, .box9, .box10 {
    flex: 1 1 50px;
}

/* footer */

footer {
    height: 90px;
    background-color: #666666;
    margin-top: 10px;
}

footer p {
    /* background-color: red; */
    text-align: center;
    padding-top: 10px;
}